@import url("https://fonts.googleapis.com/css?family=Unica+One");

.slick-slider {
    background-color: black;
    align-content: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    height:100%
  }

  .cards {
    text-align: center;
  }
