@import url("https://fonts.googleapis.com/css?family=Unica+One");
#submit {
  background: black;
  height: 30px;
  width: 50px;
  border-radius: 20%;
  font-family: 'Unica One', cursive;
  margin-top: 10px;
  color: white;
}
.panel-body{
  font-size: 15px;
  font-family: 'Unica One', cursive;
  background: black;
  color: white;
}
form {
  margin-bottom: 0%;
}
select{
  background: black;
  color: white;
}
input {
  background: black;
  color: white;
}
body{
  background: black;
}
