@import url("https://fonts.googleapis.com/css?family=Unica+One");

.instwrap {
background: black;
margin-top: 10px;
height: 510px;
}

  .InstImage {
    text-align: center;
    align-content: center;
    border-radius: 75%;
    width: 250px;
    height: 250px;
    padding-left: 10px;
    margin-top: 85px;
    transition: transform .2s;
  }

  .InstImage:hover {
  transform: scale(1.1);
  opacity: .8
  }

  .instbackground {

  }

  .jamsubtitles {
    color: white;
  }
