.slick-slider {
    background-color: black;
    align-content: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    height:55px
  }

  .instrumentselector {
    
    align-content: center;
  }

  .InstImage{
    margin-left: 22.5%;
    width: 55%;
    z-index:-100;;
  }
  li{
    size:72px
  }

